In [1]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 28.5 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas) (23.0)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 81.7 MB/s eta 0:00:00
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.9/dist-packages (from geopandas) (2.0.1)
Collecting fiona>=1.8
  Downloading Fiona-1.9.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 64.4 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.3.5)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (22.2.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.15.0)
Installing collected packages: pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.1 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1

In [2]:
import geopandas as gpd

In [3]:
df_kindergarten = gpd.read_file('kindergartens_raw.geojson')

WARNING:fiona._env:Non closed ring detected. To avoid accepting it, set the OGR_GEOMETRY_ACCEPT_UNCLOSED_RING configuration option to NO
WARNING:fiona._env:Non closed ring detected. To avoid accepting it, set the OGR_GEOMETRY_ACCEPT_UNCLOSED_RING configuration option to NO

In [4]:
full_list_of_columns = df_kindergarten.columns.values.tolist()
full_list_of_columns

['id',
 '@id',
 'access',
 'addr:city',
 'addr:country',
 'addr:floor',
 'addr:full',
 'addr:housenumber',
 'addr:housenumber2',
 'addr:place',
 'addr:postcode',
 'addr:quarter',
 'addr:region',
 'addr:street',
 'addr:subdistrict',
 'addr:suburb',
 'alt_name',
 'amenity',
 'barrier',
 'building',
 'building:colour',
 'building:levels',
 'building:material',
 'building:part',
 'building:use',
 'capacity',
 'check_date',
 'colour',
 'comment',
 'contact:email',
 'contact:facebook',
 'contact:instagram',
 'contact:ok',
 'contact:phone',
 'contact:telegram',
 'contact:vk',
 'contact:website',
 'contact:youtube',
 'description',
 'design:ref',
 'education',
 'education_form:fulltime',
 'education_level:preschool',
 'education_level:primary',
 'education_level:secondary',
 'education_profile:general',
 'education_programme:EN',
 'education_system:ru_standard',
 'email',
 'entrance',
 'facebook',
 'fee',
 'fence_type',
 'fenced',
 'fixme',
 'full_name',
 'height',
 'heritage',
 'heritage:name',
 'historic',
 'inscription',
 'is_in:neighbourhood',
 'isced:level',
 'landuse',
 'leisure',
 'level',
 'material',
 'max_age',
 'min_age',
 'name',
 'name:de',
 'name:en',
 'name:ru',
 'name:uk',
 'note',
 'office',
 'official_name',
 'official_name:ru',
 'old_name',
 'old_name:en',
 'old_official_name',
 'old_ref',
 'opening_date',
 'opening_hours',
 'operator',
 'operator:type',
 'ownership',
 'phone',
 'preschool',
 'ref',
 'roof:angle',
 'roof:colour',
 'roof:levels',
 'roof:material',
 'roof:shape',
 'short_name',
 'social_facility',
 'social_facility:for',
 'source',
 'source:building:levels',
 'start_date',
 'toilets:wheelchair',
 'type',
 'website',
 '@relations',
 'website_1',
 'wheelchair',
 'geometry']

In [5]:
target_list_of_columns = ['id', 'addr:city', 'addr:full', 'addr:housenumber', 'addr:postcode', 'addr:street', 'addr:place',
                          'amenity', 'building', 'building:levels', 'name', 'type', 'short_name', 'old_name', 'website',
                          'contact:website', 'official_name', 'capacity', 'geometry']

In [6]:
drop_list_of_columns = []
for i in full_list_of_columns:
  if i not in target_list_of_columns:
    drop_list_of_columns.append(i)
drop_list_of_columns

['@id',
 'access',
 'addr:country',
 'addr:floor',
 'addr:housenumber2',
 'addr:quarter',
 'addr:region',
 'addr:subdistrict',
 'addr:suburb',
 'alt_name',
 'barrier',
 'building:colour',
 'building:material',
 'building:part',
 'building:use',
 'check_date',
 'colour',
 'comment',
 'contact:email',
 'contact:facebook',
 'contact:instagram',
 'contact:ok',
 'contact:phone',
 'contact:telegram',
 'contact:vk',
 'contact:youtube',
 'description',
 'design:ref',
 'education',
 'education_form:fulltime',
 'education_level:preschool',
 'education_level:primary',
 'education_level:secondary',
 'education_profile:general',
 'education_programme:EN',
 'education_system:ru_standard',
 'email',
 'entrance',
 'facebook',
 'fee',
 'fence_type',
 'fenced',
 'fixme',
 'full_name',
 'height',
 'heritage',
 'heritage:name',
 'historic',
 'inscription',
 'is_in:neighbourhood',
 'isced:level',
 'landuse',
 'leisure',
 'level',
 'material',
 'max_age',
 'min_age',
 'name:de',
 'name:en',
 'name:ru',
 'name:uk',
 'note',
 'office',
 'official_name:ru',
 'old_name:en',
 'old_official_name',
 'old_ref',
 'opening_date',
 'opening_hours',
 'operator',
 'operator:type',
 'ownership',
 'phone',
 'preschool',
 'ref',
 'roof:angle',
 'roof:colour',
 'roof:levels',
 'roof:material',
 'roof:shape',
 'social_facility',
 'social_facility:for',
 'source',
 'source:building:levels',
 'start_date',
 'toilets:wheelchair',
 '@relations',
 'website_1',
 'wheelchair']

In [7]:
df_kindergarten.drop(drop_list_of_columns, axis=1, inplace=True)

In [8]:
updated_list_of_columns = df_kindergarten.columns.values.tolist()
updated_list_of_columns

['id',
 'addr:city',
 'addr:full',
 'addr:housenumber',
 'addr:place',
 'addr:postcode',
 'addr:street',
 'amenity',
 'building',
 'building:levels',
 'capacity',
 'contact:website',
 'name',
 'official_name',
 'old_name',
 'short_name',
 'type',
 'website',
 'geometry']

In [9]:
df_kindergarten

,id,addr:city,addr:full,addr:housenumber,addr:place,addr:postcode,addr:street,amenity,building,building:levels,capacity,contact:website,name,official_name,old_name,short_name,type,website,geometry
0,relation/1249581,NaN,NaN,NaN,NaN,NaN,NaN,kindergarten,NaN,NaN,NaN,NaN,Детский сад №2428,NaN,NaN,NaN,multipolygon,NaN,"POLYGON ((37.53026 55.54863, 37.52979 55.54895..."
1,relation/1249600,NaN,NaN,NaN,NaN,NaN,NaN,kindergarten,NaN,NaN,NaN,NaN,Детский сад №1189,NaN,NaN,NaN,multipolygon,NaN,"POLYGON ((37.62025 55.78973, 37.61908 55.78969..."
2,relation/1280704,NaN,NaN,NaN,NaN,NaN,NaN,kindergarten,NaN,NaN,NaN,NaN,"Детский сад - Школа Свиблово, корпус 12",NaN,"Детский сад №487 ""Малыш""",NaN,multipolygon,NaN,"POLYGON ((37.65301 55.85219, 37.65477 55.85265..."
3,relation/1283096,NaN,NaN,NaN,NaN,NaN,NaN,kindergarten,NaN,NaN,NaN,NaN,СПДО № 1 школы № 1784,NaN,NaN,NaN,multipolygon,http://sch1784s.mskobr.ru/info_edu/structure_a...,"POLYGON ((37.57603 55.77822, 37.57584 55.77811..."
4,relation/1284256,NaN,NaN,NaN,NaN,NaN,NaN,kindergarten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,multipolygon,NaN,"POLYGON ((37.49267 55.77952, 37.49261 55.78000..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2803,node/9880328119,NaN,NaN,NaN,NaN,NaN,NaN,kindergarten,NaN,NaN,NaN,NaN,Чудо чердачок,NaN,NaN,NaN,NaN,https://chudocherdachok.ru/,POINT (37.70579 55.75337)
2804,node/9886687621,NaN,NaN,NaN,NaN,NaN,NaN,kindergarten,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (37.59908 55.87405)
2805,node/10044484701,NaN,NaN,90 с2,NaN,NaN,Краснобогатырская улица,kindergarten,NaN,NaN,NaN,NaN,Обнимая солнце,NaN,NaN,NaN,NaN,NaN,POINT (37.70892 55.80099)
2806,node/10064274923,NaN,NaN,5А к1,NaN,NaN,Багратионовский проезд,kindergarten,NaN,NaN,NaN,NaN,Смарт скул,NaN,NaN,NaN,NaN,https://smartschool.group/fili,POINT (37.51053 55.74369)
2807,node/10649421167,NaN,NaN,NaN,NaN,NaN,NaN,kindergarten,NaN,NaN,NaN,NaN,Дарвиль,NaN,NaN,NaN,NaN,logosad.ru,POINT (37.52601 55.88101)

In [10]:
#Заполняем пустые значение города Москвой
df_kindergarten['addr:city'] = df_kindergarten['addr:city'].fillna('Москва')

In [11]:
#Заполняем пустые значение посткода нулями
df_kindergarten['addr:postcode'] = df_kindergarten['addr:postcode'].fillna('000000')

In [12]:
#Заполняем поле amenity на kindergarten
df_kindergarten['amenity'] = df_kindergarten['amenity'].fillna('kindergarten')

In [13]:
#Заменяем поле building на kindergarten
df_kindergarten['building'] = df_kindergarten['building'].fillna('kindergarten')
df_kindergarten['building'].replace('yes', 'kindergarten', inplace=True)

In [14]:
#Заполнение addr:street из addr:place
df_kindergarten['addr:street'] = df_kindergarten['addr:street'].fillna('empty')
df_kindergarten['addr:place'] = df_kindergarten['addr:place'].fillna('empty')
for i in range(df_kindergarten.shape[0]):
  if df_kindergarten.iloc[i]['addr:street'] == 'empty' and df_kindergarten.iloc[i]['addr:place'] != 'empty':
    df_kindergarten.iloc[i]['addr:street'] = df_kindergarten.iloc[i]['addr:place']

/usr/local/lib/python3.9/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [15]:
#Заполнение name из official_name	old_name	short_name
df_kindergarten['name'] = df_kindergarten['name'].fillna('empty')
df_kindergarten['official_name'] = df_kindergarten['official_name'].fillna('empty')
df_kindergarten['old_name'] = df_kindergarten['old_name'].fillna('empty')
df_kindergarten['short_name'] = df_kindergarten['short_name'].fillna('empty')
for i in range(df_kindergarten.shape[0]):
  if df_kindergarten.iloc[i]['name'] == 'empty' and df_kindergarten.iloc[i]['official_name'] != 'empty':
    df_kindergarten.iloc[i]['name'] = df_kindergarten.iloc[i]['official_name']
  elif df_kindergarten.iloc[i]['name'] == 'empty' and df_kindergarten.iloc[i]['short_name'] != 'empty':
    df_kindergarten.iloc[i]['name'] = df_kindergarten.iloc[i]['short_name']
  elif df_kindergarten.iloc[i]['name'] == 'empty' and df_kindergarten.iloc[i]['old_name'] != 'empty':
    df_kindergarten.iloc[i]['name'] = df_kindergarten.iloc[i]['old_name']

In [16]:
#Заполнение website из url contact:website
df_kindergarten['website'] = df_kindergarten['website'].fillna('empty')
df_kindergarten['contact:website'] = df_kindergarten['contact:website'].fillna('empty')
for i in range(df_kindergarten.shape[0]):
  if df_kindergarten.iloc[i]['website'] == 'empty' and df_kindergarten.iloc[i]['contact:website'] != 'empty':
    df_kindergarten.iloc[i]['website'] = df_kindergarten.iloc[i]['contact:website']

In [17]:
df_kindergarten

,id,addr:city,addr:full,addr:housenumber,addr:place,addr:postcode,addr:street,amenity,building,building:levels,capacity,contact:website,name,official_name,old_name,short_name,type,website,geometry
0,relation/1249581,Москва,NaN,NaN,empty,000000,empty,kindergarten,kindergarten,NaN,NaN,empty,Детский сад №2428,empty,empty,empty,multipolygon,empty,"POLYGON ((37.53026 55.54863, 37.52979 55.54895..."
1,relation/1249600,Москва,NaN,NaN,empty,000000,empty,kindergarten,kindergarten,NaN,NaN,empty,Детский сад №1189,empty,empty,empty,multipolygon,empty,"POLYGON ((37.62025 55.78973, 37.61908 55.78969..."
2,relation/1280704,Москва,NaN,NaN,empty,000000,empty,kindergarten,kindergarten,NaN,NaN,empty,"Детский сад - Школа Свиблово, корпус 12",empty,"Детский сад №487 ""Малыш""",empty,multipolygon,empty,"POLYGON ((37.65301 55.85219, 37.65477 55.85265..."
3,relation/1283096,Москва,NaN,NaN,empty,000000,empty,kindergarten,kindergarten,NaN,NaN,empty,СПДО № 1 школы № 1784,empty,empty,empty,multipolygon,http://sch1784s.mskobr.ru/info_edu/structure_a...,"POLYGON ((37.57603 55.77822, 37.57584 55.77811..."
4,relation/1284256,Москва,NaN,NaN,empty,000000,empty,kindergarten,kindergarten,NaN,NaN,empty,empty,empty,empty,empty,multipolygon,empty,"POLYGON ((37.49267 55.77952, 37.49261 55.78000..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2803,node/9880328119,Москва,NaN,NaN,empty,000000,empty,kindergarten,kindergarten,NaN,NaN,empty,Чудо чердачок,empty,empty,empty,NaN,https://chudocherdachok.ru/,POINT (37.70579 55.75337)
2804,node/9886687621,Москва,NaN,NaN,empty,000000,empty,kindergarten,kindergarten,NaN,NaN,empty,empty,empty,empty,empty,NaN,empty,POINT (37.59908 55.87405)
2805,node/10044484701,Москва,NaN,90 с2,empty,000000,Краснобогатырская улица,kindergarten,kindergarten,NaN,NaN,empty,Обнимая солнце,empty,empty,empty,NaN,empty,POINT (37.70892 55.80099)
2806,node/10064274923,Москва,NaN,5А к1,empty,000000,Багратионовский проезд,kindergarten,kindergarten,NaN,NaN,empty,Смарт скул,empty,empty,empty,NaN,https://smartschool.group/fili,POINT (37.51053 55.74369)
2807,node/10649421167,Москва,NaN,NaN,empty,000000,empty,kindergarten,kindergarten,NaN,NaN,empty,Дарвиль,empty,empty,empty,NaN,logosad.ru,POINT (37.52601 55.88101)

In [18]:
#Удаление колонок, которые больше не пригодятся
addititonal_dropping_columns = ['addr:full', 'addr:place', 'short_name', 'contact:website', 'old_name', 'official_name']
df_kindergarten.drop(addititonal_dropping_columns, axis=1, inplace=True)

In [19]:
#Заполнение оставшихся пустых данных нулевыми значениями
df_kindergarten['building:levels'] = df_kindergarten['building:levels'].fillna('0')
df_kindergarten['capacity'] = df_kindergarten['capacity'].fillna('0')

In [20]:
#Добавление данных о количестве студентов
df_kindergarten['students_number'] = ""
df_kindergarten['students_number'] = df_kindergarten['students_number'].replace('', '0')

In [21]:
centroid_list_longitude = []
centroid_list_latitude = []
for i in range(df_kindergarten.shape[0]):
  centroid_x = 0
  centroid_y = 0
  counter = 0
  if str(type(df_kindergarten.iloc[i]['geometry'])).split("'")[1] == 'shapely.geometry.polygon.Polygon':
    longitude, latitude = df_kindergarten.iloc[i]['geometry'].exterior.coords.xy
    for j in range(len(longitude)):
      counter += 1
      centroid_x += longitude[j]
      centroid_y += latitude[j]
    centroid_x = centroid_x / counter
    centroid_y = centroid_y / counter
    
  elif str(type(df_kindergarten.iloc[i]['geometry'])).split("'")[1] == 'shapely.geometry.point.Point':
    centroid_x = list(df_kindergarten.iloc[-1]['geometry'].coords)[0][0]
    centroid_y = list(df_kindergarten.iloc[-1]['geometry'].coords)[0][1]

  elif str(type(df_kindergarten.iloc[i]['geometry'])).split("'")[1] == 'shapely.geometry.multipolygon.MultiPolygon':
    mycoordslist = [list(x.exterior.coords) for x in df_kindergarten.iloc[i]['geometry'].geoms]
    for j in mycoordslist:
      for k in range(len(j)):
        counter += 1
        centroid_x += j[k][0]
        centroid_y += j[k][1]
    centroid_x = centroid_x / counter
    centroid_y = centroid_y / counter

  elif str(type(df_kindergarten.iloc[i]['geometry'])).split("'")[1] == 'shapely.geometry.linestring.LineString':
    longitude, latitude = df_kindergarten.iloc[i]['geometry'].coords.xy
    for j in range(len(longitude)):
      counter += 1
      centroid_x += longitude[j]
      centroid_y += latitude[j]
    centroid_x = centroid_x / counter
    centroid_y = centroid_y / counter
    
  centroid_list_longitude.append(centroid_x)
  centroid_list_latitude.append(centroid_y)

In [22]:
df_kindergarten['centroid longitude'] = centroid_list_longitude
df_kindergarten['centroid latitude'] = centroid_list_latitude

In [23]:
df_kindergarten

,id,addr:city,addr:housenumber,addr:postcode,addr:street,amenity,building,building:levels,capacity,name,type,website,geometry,students_number,centroid longitude,centroid latitude
0,relation/1249581,Москва,NaN,000000,empty,kindergarten,kindergarten,0,0,Детский сад №2428,multipolygon,empty,"POLYGON ((37.53026 55.54863, 37.52979 55.54895...",0,37.529462,55.548674
1,relation/1249600,Москва,NaN,000000,empty,kindergarten,kindergarten,0,0,Детский сад №1189,multipolygon,empty,"POLYGON ((37.62025 55.78973, 37.61908 55.78969...",0,37.619828,55.789217
2,relation/1280704,Москва,NaN,000000,empty,kindergarten,kindergarten,0,0,"Детский сад - Школа Свиблово, корпус 12",multipolygon,empty,"POLYGON ((37.65301 55.85219, 37.65477 55.85265...",0,37.653483,55.852861
3,relation/1283096,Москва,NaN,000000,empty,kindergarten,kindergarten,0,0,СПДО № 1 школы № 1784,multipolygon,http://sch1784s.mskobr.ru/info_edu/structure_a...,"POLYGON ((37.57603 55.77822, 37.57584 55.77811...",0,37.576302,55.777910
4,relation/1284256,Москва,NaN,000000,empty,kindergarten,kindergarten,0,0,empty,multipolygon,empty,"POLYGON ((37.49267 55.77952, 37.49261 55.78000...",0,37.492064,55.779851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2803,node/9880328119,Москва,NaN,000000,empty,kindergarten,kindergarten,0,0,Чудо чердачок,NaN,https://chudocherdachok.ru/,POINT (37.70579 55.75337),0,37.526009,55.881008
2804,node/9886687621,Москва,NaN,000000,empty,kindergarten,kindergarten,0,0,empty,NaN,empty,POINT (37.59908 55.87405),0,37.526009,55.881008
2805,node/10044484701,Москва,90 с2,000000,Краснобогатырская улица,kindergarten,kindergarten,0,0,Обнимая солнце,NaN,empty,POINT (37.70892 55.80099),0,37.526009,55.881008
2806,node/10064274923,Москва,5А к1,000000,Багратионовский проезд,kindergarten,kindergarten,0,0,Смарт скул,NaN,https://smartschool.group/fili,POINT (37.51053 55.74369),0,37.526009,55.881008
2807,node/10649421167,Москва,NaN,000000,empty,kindergarten,kindergarten,0,0,Дарвиль,NaN,logosad.ru,POINT (37.52601 55.88101),0,37.526009,55.881008

In [24]:
#Запись в файл
df_kindergarten.to_file('kindergartens_transform.geojson', driver="GeoJSON")