In [1]:
!pip install geopandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.12.2-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 8.0 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from geopandas) (23.0)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from geopandas) (1.4.4)
Collecting pyproj>=2.6.1.post1
  Downloading pyproj-3.4.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.7/7.7 MB 56.4 MB/s eta 0:00:00
Requirement already satisfied: shapely>=1.7 in /usr/local/lib/python3.9/dist-packages (from geopandas) (2.0.1)
Collecting fiona>=1.8
  Downloading Fiona-1.9.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 49.5 MB/s eta 0:00:00
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (22.2.0)
Requirement already satisfied: click~=8.0 in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (8.1.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (2022.12.7)
Collecting munch>=2.3.2
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2022.7.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.0->geopandas) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from munch>=2.3.2->fiona>=1.8->geopandas) (1.15.0)
Installing collected packages: pyproj, munch, cligj, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.9.1 geopandas-0.12.2 munch-2.5.0 pyproj-3.4.1

In [2]:
import geopandas as gpd
from shapely import Point

In [141]:
df_school = gpd.read_file('schools_raw.geojson')

WARNING:fiona._env:Non closed ring detected. To avoid accepting it, set the OGR_GEOMETRY_ACCEPT_UNCLOSED_RING configuration option to NO

In [142]:
full_list_of_columns = df_school.columns.values.tolist()
full_list_of_columns

['id',
 '@id',
 'access',
 'access:conditional',
 'addr:city',
 'addr:country',
 'addr:full',
 'addr:housenumber',
 'addr:housenumber1',
 'addr:housenumber2',
 'addr:place',
 'addr:postcode',
 'addr:quarter',
 'addr:region',
 'addr:street',
 'addr:street1',
 'addr:street2',
 'addr:subdistrict',
 'addr:suburb',
 'after_school',
 'alt_name',
 'amenity',
 'architect',
 'barrier',
 'bicycle',
 'branch',
 'building',
 'building:colour',
 'building:levels',
 'building:material',
 'building:part',
 'building:parts',
 'capacity',
 'check_date',
 'check_date:opening_hours',
 'comment',
 'comment2',
 'construction',
 'contact:email',
 'contact:facebook',
 'contact:instagram',
 'contact:phone',
 'contact:telegram',
 'contact:twitter',
 'contact:vk',
 'contact:website',
 'contact:website:en',
 'contact:youtube',
 'denomination',
 'description',
 'description:en',
 'description:fr',
 'description:ru',
 'design:ref',
 'disused',
 'education',
 'education_form:external',
 'education_form:fulltime',
 'education_form:parttime',
 'education_level:preschool',
 'education_level:primary',
 'education_level:secondary',
 'education_profile:biology',
 'education_profile:chemistry',
 'education_profile:economics',
 'education_profile:general',
 'education_profile:it',
 'education_profile:languages',
 'education_profile:mathematics',
 'education_profile:military',
 'education_profile:physics',
 'education_profile:sport',
 'education_programme:EN',
 'education_programme:FR',
 'education_system:ru_standard',
 'email',
 'fee',
 'fence_type',
 'fenced',
 'fixme',
 'full_name',
 'grades',
 'height',
 'heritage',
 'heritage:name',
 'historic',
 'image',
 'int_name',
 'internet_access',
 'is_in:neighbourhood',
 'isced:level',
 'landuse',
 'language:en',
 'leisure',
 'level',
 'levels',
 'material',
 'min_age',
 'mosuzedu',
 'name',
 '@relations',
 'name:alt',
 'name:de',
 'name:en',
 'name:etymology:wikidata',
 'name:fi',
 'name:fr',
 'name:it',
 'name:ja',
 'name:old',
 'name:ru',
 'name:sv',
 'note',
 'official_name',
 'old_name',
 'old_name2',
 'old_name:1',
 'old_name:2',
 'old_name:de',
 'old_name:en',
 'old_official_name',
 'old_ref',
 'old_ref:1',
 'old_ref:2',
 'old_website',
 'opening_date',
 'opening_hours',
 'operator',
 'operator:en',
 'operator:ref:inn',
 'operator:ref:kpp',
 'operator:ref:ogrn',
 'operator:type',
 'operator:wikidata',
 'operator:wikipedia',
 'ownership',
 'pedagogy',
 'phone',
 'ref',
 'religion',
 'roof:angle',
 'roof:colour',
 'roof:height',
 'roof:levels',
 'roof:material',
 'roof:shape',
 'school',
 'short_name',
 'smoking',
 'social_facility',
 'social_facility:for',
 'source',
 'source:access',
 'source:addr',
 'source:building:levels',
 'sport',
 'start_date',
 'supervised',
 'toilets:wheelchair',
 'type',
 'url',
 'was:alt_name',
 'was:name',
 'website',
 'website:en',
 'wheelchair',
 'wheelchair:description',
 'wikidata',
 'wikipedia',
 'wikipedia:ru',
 'geometry']

In [143]:
target_list_of_columns = ['id', 'addr:city', 'addr:full', 'addr:housenumber', 'addr:postcode', 'addr:street', 'addr:place',
                          'amenity', 'building', 'building:levels', 'name', 'type', 'short_name', 'old_name', 'website',
                          'contact:website', 'official_name', 'capacity', 'url', 'geometry']

In [144]:
drop_list_of_columns = []
for i in full_list_of_columns:
  if i not in target_list_of_columns:
    drop_list_of_columns.append(i)
drop_list_of_columns

['@id',
 'access',
 'access:conditional',
 'addr:country',
 'addr:housenumber1',
 'addr:housenumber2',
 'addr:quarter',
 'addr:region',
 'addr:street1',
 'addr:street2',
 'addr:subdistrict',
 'addr:suburb',
 'after_school',
 'alt_name',
 'architect',
 'barrier',
 'bicycle',
 'branch',
 'building:colour',
 'building:material',
 'building:part',
 'building:parts',
 'check_date',
 'check_date:opening_hours',
 'comment',
 'comment2',
 'construction',
 'contact:email',
 'contact:facebook',
 'contact:instagram',
 'contact:phone',
 'contact:telegram',
 'contact:twitter',
 'contact:vk',
 'contact:website:en',
 'contact:youtube',
 'denomination',
 'description',
 'description:en',
 'description:fr',
 'description:ru',
 'design:ref',
 'disused',
 'education',
 'education_form:external',
 'education_form:fulltime',
 'education_form:parttime',
 'education_level:preschool',
 'education_level:primary',
 'education_level:secondary',
 'education_profile:biology',
 'education_profile:chemistry',
 'education_profile:economics',
 'education_profile:general',
 'education_profile:it',
 'education_profile:languages',
 'education_profile:mathematics',
 'education_profile:military',
 'education_profile:physics',
 'education_profile:sport',
 'education_programme:EN',
 'education_programme:FR',
 'education_system:ru_standard',
 'email',
 'fee',
 'fence_type',
 'fenced',
 'fixme',
 'full_name',
 'grades',
 'height',
 'heritage',
 'heritage:name',
 'historic',
 'image',
 'int_name',
 'internet_access',
 'is_in:neighbourhood',
 'isced:level',
 'landuse',
 'language:en',
 'leisure',
 'level',
 'levels',
 'material',
 'min_age',
 'mosuzedu',
 '@relations',
 'name:alt',
 'name:de',
 'name:en',
 'name:etymology:wikidata',
 'name:fi',
 'name:fr',
 'name:it',
 'name:ja',
 'name:old',
 'name:ru',
 'name:sv',
 'note',
 'old_name2',
 'old_name:1',
 'old_name:2',
 'old_name:de',
 'old_name:en',
 'old_official_name',
 'old_ref',
 'old_ref:1',
 'old_ref:2',
 'old_website',
 'opening_date',
 'opening_hours',
 'operator',
 'operator:en',
 'operator:ref:inn',
 'operator:ref:kpp',
 'operator:ref:ogrn',
 'operator:type',
 'operator:wikidata',
 'operator:wikipedia',
 'ownership',
 'pedagogy',
 'phone',
 'ref',
 'religion',
 'roof:angle',
 'roof:colour',
 'roof:height',
 'roof:levels',
 'roof:material',
 'roof:shape',
 'school',
 'smoking',
 'social_facility',
 'social_facility:for',
 'source',
 'source:access',
 'source:addr',
 'source:building:levels',
 'sport',
 'start_date',
 'supervised',
 'toilets:wheelchair',
 'was:alt_name',
 'was:name',
 'website:en',
 'wheelchair',
 'wheelchair:description',
 'wikidata',
 'wikipedia',
 'wikipedia:ru']

In [145]:
df_school.drop(drop_list_of_columns, axis=1, inplace=True)

In [146]:
updated_list_of_columns = df_school.columns.values.tolist()
updated_list_of_columns

['id',
 'addr:city',
 'addr:full',
 'addr:housenumber',
 'addr:place',
 'addr:postcode',
 'addr:street',
 'amenity',
 'building',
 'building:levels',
 'capacity',
 'contact:website',
 'name',
 'official_name',
 'old_name',
 'short_name',
 'type',
 'url',
 'website',
 'geometry']

In [147]:
df_school

,id,addr:city,addr:full,addr:housenumber,addr:place,addr:postcode,addr:street,amenity,building,building:levels,capacity,contact:website,name,official_name,old_name,short_name,type,url,website,geometry
0,relation/36980,Москва,NaN,64А с2,NaN,127238,Хорошёвское шоссе,school,yes,3,NaN,NaN,Школа №1288 (СП-5),NaN,NaN,NaN,multipolygon,NaN,NaN,"POLYGON ((37.52905 55.77856, 37.52898 55.77845..."
1,relation/48572,NaN,NaN,28 к1,NaN,NaN,улица Крылатские Холмы,school,school,3,NaN,NaN,Гимназия № 1593,NaN,NaN,ГБОУ Гимназия № 1593,multipolygon,NaN,NaN,"POLYGON ((37.41419 55.76515, 37.41421 55.76503..."
2,relation/62986,NaN,NaN,21,NaN,NaN,Батайский проезд,school,school,3,NaN,NaN,Школа № 1141,NaN,NaN,NaN,multipolygon,NaN,NaN,"POLYGON ((37.71844 55.64383, 37.71844 55.64371..."
3,relation/62987,NaN,NaN,23,NaN,NaN,Батайский проезд,school,school,3,NaN,NaN,Школа №499,NaN,NaN,NaN,multipolygon,NaN,NaN,"POLYGON ((37.72010 55.64387, 37.72010 55.64375..."
4,relation/286862,NaN,NaN,10 к2,NaN,NaN,улица Амундсена,school,yes,3,NaN,NaN,NaN,NaN,NaN,NaN,multipolygon,NaN,NaN,"POLYGON ((37.65890 55.85376, 37.65873 55.85373..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112,node/9843601709,NaN,NaN,NaN,NaN,NaN,NaN,school,NaN,NaN,NaN,NaN,Детская художественная школа № 9,NaN,NaN,NaN,NaN,NaN,NaN,POINT (37.16348 55.97818)
2113,node/9910450170,NaN,NaN,NaN,NaN,NaN,NaN,school,NaN,NaN,NaN,NaN,Атлас school,NaN,NaN,NaN,NaN,NaN,NaN,POINT (37.50742 55.69662)
2114,node/10269753089,NaN,NaN,10 к1,NaN,NaN,Аэродромная улица,school,NaN,NaN,NaN,NaN,Плюс,NaN,NaN,NaN,NaN,NaN,https://profplus.ru,POINT (37.43346 55.84703)
2115,node/10593636787,NaN,NaN,NaN,NaN,NaN,NaN,school,NaN,NaN,NaN,NaN,Гимназия №1788,NaN,NaN,NaN,NaN,NaN,https://gum1788tn.mskobr.ru/,POINT (37.31470 55.63963)
2116,node/10709028671,NaN,NaN,NaN,NaN,NaN,NaN,school,NaN,NaN,NaN,NaN,Подсолнух,NaN,NaN,NaN,NaN,NaN,http://centr-podsolnuh.ru,POINT (37.59005 55.81845)

In [148]:
#Заполняем пустые значение города Москвой
df_school['addr:city'] = df_school['addr:city'].fillna('Москва')

In [149]:
#Заполняем пустые значение посткода нулями
df_school['addr:postcode'] = df_school['addr:postcode'].fillna('000000')

In [150]:
#Заполняем поле amenity на school
df_school['amenity'] = df_school['amenity'].fillna('school')

In [151]:
#Заменяем поле building на school
df_school['building'] = df_school['building'].fillna('school')
df_school['building'].replace('yes', 'school', inplace=True)

In [152]:
(df_school.iloc[0]['addr:full'])

nan

In [153]:
#Заполнение addr:street из addr:place
df_school['addr:street'] = df_school['addr:street'].fillna('empty')
df_school['addr:place'] = df_school['addr:place'].fillna('empty')
for i in range(df_school.shape[0]):
  if df_school.iloc[i]['addr:street'] == 'empty' and df_school.iloc[i]['addr:place'] != 'empty':
    df_school.iloc[i]['addr:street'] = df_school.iloc[i]['addr:place']

/usr/local/lib/python3.9/dist-packages/pandas/core/series.py:1056: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cacher_needs_updating = self._check_is_chained_assignment_possible()

In [154]:
#Заполнение name из official_name	old_name	short_name
df_school['name'] = df_school['name'].fillna('empty')
df_school['official_name'] = df_school['official_name'].fillna('empty')
df_school['old_name'] = df_school['old_name'].fillna('empty')
df_school['short_name'] = df_school['short_name'].fillna('empty')
for i in range(df_school.shape[0]):
  if df_school.iloc[i]['name'] == 'empty' and df_school.iloc[i]['official_name'] != 'empty':
    df_school.iloc[i]['name'] = df_school.iloc[i]['official_name']
  elif df_school.iloc[i]['name'] == 'empty' and df_school.iloc[i]['short_name'] != 'empty':
    df_school.iloc[i]['name'] = df_school.iloc[i]['short_name']
  elif df_school.iloc[i]['name'] == 'empty' and df_school.iloc[i]['old_name'] != 'empty':
    df_school.iloc[i]['name'] = df_school.iloc[i]['old_name']

In [155]:
#Заполнение website из url contact:website
df_school['website'] = df_school['website'].fillna('empty')
df_school['url'] = df_school['url'].fillna('empty')
df_school['contact:website'] = df_school['contact:website'].fillna('empty')
for i in range(df_school.shape[0]):
  if df_school.iloc[i]['website'] == 'empty' and df_school.iloc[i]['url'] != 'empty':
    df_school.iloc[i]['website'] = df_school.iloc[i]['url']
  elif df_school.iloc[i]['website'] == 'empty' and df_school.iloc[i]['contact:website'] != 'empty':
    df_school.iloc[i]['website'] = df_school.iloc[i]['contact:website']

In [156]:
df_school

,id,addr:city,addr:full,addr:housenumber,addr:place,addr:postcode,addr:street,amenity,building,building:levels,capacity,contact:website,name,official_name,old_name,short_name,type,url,website,geometry
0,relation/36980,Москва,NaN,64А с2,empty,127238,Хорошёвское шоссе,school,school,3,NaN,empty,Школа №1288 (СП-5),empty,empty,empty,multipolygon,empty,empty,"POLYGON ((37.52905 55.77856, 37.52898 55.77845..."
1,relation/48572,Москва,NaN,28 к1,empty,000000,улица Крылатские Холмы,school,school,3,NaN,empty,Гимназия № 1593,empty,empty,ГБОУ Гимназия № 1593,multipolygon,empty,empty,"POLYGON ((37.41419 55.76515, 37.41421 55.76503..."
2,relation/62986,Москва,NaN,21,empty,000000,Батайский проезд,school,school,3,NaN,empty,Школа № 1141,empty,empty,empty,multipolygon,empty,empty,"POLYGON ((37.71844 55.64383, 37.71844 55.64371..."
3,relation/62987,Москва,NaN,23,empty,000000,Батайский проезд,school,school,3,NaN,empty,Школа №499,empty,empty,empty,multipolygon,empty,empty,"POLYGON ((37.72010 55.64387, 37.72010 55.64375..."
4,relation/286862,Москва,NaN,10 к2,empty,000000,улица Амундсена,school,school,3,NaN,empty,empty,empty,empty,empty,multipolygon,empty,empty,"POLYGON ((37.65890 55.85376, 37.65873 55.85373..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112,node/9843601709,Москва,NaN,NaN,empty,000000,empty,school,school,NaN,NaN,empty,Детская художественная школа № 9,empty,empty,empty,NaN,empty,empty,POINT (37.16348 55.97818)
2113,node/9910450170,Москва,NaN,NaN,empty,000000,empty,school,school,NaN,NaN,empty,Атлас school,empty,empty,empty,NaN,empty,empty,POINT (37.50742 55.69662)
2114,node/10269753089,Москва,NaN,10 к1,empty,000000,Аэродромная улица,school,school,NaN,NaN,empty,Плюс,empty,empty,empty,NaN,empty,https://profplus.ru,POINT (37.43346 55.84703)
2115,node/10593636787,Москва,NaN,NaN,empty,000000,empty,school,school,NaN,NaN,empty,Гимназия №1788,empty,empty,empty,NaN,empty,https://gum1788tn.mskobr.ru/,POINT (37.31470 55.63963)
2116,node/10709028671,Москва,NaN,NaN,empty,000000,empty,school,school,NaN,NaN,empty,Подсолнух,empty,empty,empty,NaN,empty,http://centr-podsolnuh.ru,POINT (37.59005 55.81845)

In [157]:
#Удаление колонок, которые больше не пригодятся
addititonal_dropping_columns = ['addr:full', 'addr:place', 'short_name', 'contact:website', 'url', 'old_name', 'official_name']
df_school.drop(addititonal_dropping_columns, axis=1, inplace=True)

In [158]:
#Заполнение оставшихся пустых данных нулевыми значениями
df_school['building:levels'] = df_school['building:levels'].fillna('0')
df_school['capacity'] = df_school['capacity'].fillna('0')

In [159]:
#Добавление данных о количестве студентов
df_school['students_number'] = ""
df_school['students_number'] = df_school['students_number'].replace('', '0')

In [160]:
centroid_list_longitude = []
centroid_list_latitude = []
for i in range(df_school.shape[0]):
  centroid_x = 0
  centroid_y = 0
  counter = 0
  if str(type(df_school.iloc[i]['geometry'])).split("'")[1] == 'shapely.geometry.polygon.Polygon':
    longitude, latitude = df_school.iloc[i]['geometry'].exterior.coords.xy
    for j in range(len(longitude)):
      counter += 1
      centroid_x += longitude[j]
      centroid_y += latitude[j]
    centroid_x = centroid_x / counter
    centroid_y = centroid_y / counter
    
  elif str(type(df_school.iloc[i]['geometry'])).split("'")[1] == 'shapely.geometry.point.Point':
    centroid_x = list(df_school.iloc[-1]['geometry'].coords)[0][0]
    centroid_y = list(df_school.iloc[-1]['geometry'].coords)[0][1]

  elif str(type(df_school.iloc[i]['geometry'])).split("'")[1] == 'shapely.geometry.multipolygon.MultiPolygon':
    mycoordslist = [list(x.exterior.coords) for x in df_school.iloc[i]['geometry'].geoms]
    for j in mycoordslist:
      for k in range(len(j)):
        counter += 1
        centroid_x += j[k][0]
        centroid_y += j[k][1]
    centroid_x = centroid_x / counter
    centroid_y = centroid_y / counter

  elif str(type(df_school.iloc[i]['geometry'])).split("'")[1] == 'shapely.geometry.linestring.LineString':
    longitude, latitude = df_school.iloc[i]['geometry'].coords.xy
    for j in range(len(longitude)):
      counter += 1
      centroid_x += longitude[j]
      centroid_y += latitude[j]
    centroid_x = centroid_x / counter
    centroid_y = centroid_y / counter
    
  centroid_list_longitude.append(centroid_x)
  centroid_list_latitude.append(centroid_y)

In [161]:
df_school['centroid longitude'] = centroid_list_longitude
df_school['centroid latitude'] = centroid_list_latitude

In [162]:
df_school

,id,addr:city,addr:housenumber,addr:postcode,addr:street,amenity,building,building:levels,capacity,name,type,website,geometry,students_number,centroid longitude,centroid latitude
0,relation/36980,Москва,64А с2,127238,Хорошёвское шоссе,school,school,3,0,Школа №1288 (СП-5),multipolygon,empty,"POLYGON ((37.52905 55.77856, 37.52898 55.77845...",0,37.529224,55.778181
1,relation/48572,Москва,28 к1,000000,улица Крылатские Холмы,school,school,3,0,Гимназия № 1593,multipolygon,empty,"POLYGON ((37.41419 55.76515, 37.41421 55.76503...",0,37.414595,55.764890
2,relation/62986,Москва,21,000000,Батайский проезд,school,school,3,0,Школа № 1141,multipolygon,empty,"POLYGON ((37.71844 55.64383, 37.71844 55.64371...",0,37.718820,55.643559
3,relation/62987,Москва,23,000000,Батайский проезд,school,school,3,0,Школа №499,multipolygon,empty,"POLYGON ((37.72010 55.64387, 37.72010 55.64375...",0,37.720482,55.643597
4,relation/286862,Москва,10 к2,000000,улица Амундсена,school,school,3,0,empty,multipolygon,empty,"POLYGON ((37.65890 55.85376, 37.65873 55.85373...",0,37.659331,55.853672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112,node/9843601709,Москва,NaN,000000,empty,school,school,0,0,Детская художественная школа № 9,NaN,empty,POINT (37.16348 55.97818),0,37.590052,55.818452
2113,node/9910450170,Москва,NaN,000000,empty,school,school,0,0,Атлас school,NaN,empty,POINT (37.50742 55.69662),0,37.590052,55.818452
2114,node/10269753089,Москва,10 к1,000000,Аэродромная улица,school,school,0,0,Плюс,NaN,https://profplus.ru,POINT (37.43346 55.84703),0,37.590052,55.818452
2115,node/10593636787,Москва,NaN,000000,empty,school,school,0,0,Гимназия №1788,NaN,https://gum1788tn.mskobr.ru/,POINT (37.31470 55.63963),0,37.590052,55.818452
2116,node/10709028671,Москва,NaN,000000,empty,school,school,0,0,Подсолнух,NaN,http://centr-podsolnuh.ru,POINT (37.59005 55.81845),0,37.590052,55.818452

#Пробуем в подсчет площади

In [110]:
from pyproj import Geod
from shapely import wkt
import statistics

In [142]:
border_value = 4000 # Все площади что больше этой заменяются на median_value, подобрано имперически
median_value = 1307 # необходимо в двух случаях: когда полигон является точкой и не получается узнать площадь и когда школа выкачивается вместе с окружающей ее территорией, что делает ее площадь во много раз больше. Значение является медианой для площадей школ, площади которых указаны верно

In [143]:
area_list = []
geod = Geod(ellps="WGS84")
for i in range(df_school.shape[0]):
  area = 0
  if str(type(df_school.iloc[i]['geometry'])).split("'")[1] == 'shapely.geometry.point.Point':
    area = median_value

  else:
    poly = wkt.loads(str(df_school.iloc[i]['geometry']))
    area = abs(geod.geometry_area_perimeter(poly)[0])
  
  if area > border_value:
    area = median_value
  area_list.append(area)

In [144]:
df_school['area'] = area_list

In [145]:
df_school.head(20)

,id,addr:city,addr:housenumber,addr:postcode,addr:street,amenity,building,building:levels,capacity,name,type,website,students_number,centroid longitude,centroid latitude,geometry,area
0,relation/36980,Москва,64А с2,127238,Хорошёвское шоссе,school,school,3,0,Школа №1288 (СП-5),multipolygon,empty,0,37.529224,55.778181,"POLYGON ((37.52905 55.77856, 37.52898 55.77845...",2727.237101
1,relation/48572,Москва,28 к1,000000,улица Крылатские Холмы,school,school,3,0,Гимназия № 1593,multipolygon,empty,0,37.414595,55.764890,"POLYGON ((37.41419 55.76515, 37.41421 55.76503...",2747.542708
2,relation/62986,Москва,21,000000,Батайский проезд,school,school,3,0,Школа № 1141,multipolygon,empty,0,37.718820,55.643559,"POLYGON ((37.71844 55.64383, 37.71844 55.64371...",2754.467370
3,relation/62987,Москва,23,000000,Батайский проезд,school,school,3,0,Школа №499,multipolygon,empty,0,37.720482,55.643597,"POLYGON ((37.72010 55.64387, 37.72010 55.64375...",2753.930133
4,relation/286862,Москва,10 к2,000000,улица Амундсена,school,school,3,0,empty,multipolygon,empty,0,37.659331,55.853672,"POLYGON ((37.65890 55.85376, 37.65873 55.85373...",2692.883962
5,relation/337465,Москва,28,000000,empty,school,school,0,0,"ГБОУ Школа в Капотне (Учебный корпус ""Боровицк...",multipolygon,https://kapotnya.mskobr.ru/,0,37.796838,55.631628,"POLYGON ((37.79646 55.63181, 37.79629 55.63181...",2795.043857
6,relation/358784,Москва,82 к4,000000,Рязанский проспект,school,school,0,0,"ГБОУ школа № 1363, корпус № 1",multipolygon,empty,0,37.823754,55.707761,"POLYGON ((37.82339 55.70752, 37.82418 55.70752...",2840.006819
7,relation/359070,Москва,169 к2,109378,Волгоградский проспект,school,school,0,0,Школа-интернат им. Ю.В.Никулина,multipolygon,empty,0,37.790241,55.704300,"POLYGON ((37.79041 55.70402, 37.79043 55.70409...",3544.184985
8,relation/541470,Москва,8 к2,000000,улица Авиаторов,school,school,3,0,empty,multipolygon,empty,0,37.399543,55.646723,"POLYGON ((37.40012 55.64689, 37.39943 55.64710...",2806.493740
9,relation/1245766,Москва,NaN,000000,empty,school,school,0,0,Центр образования №1470,multipolygon,empty,0,37.645068,55.813977,"POLYGON ((37.64609 55.81390, 37.64615 55.81426...",1307.000000
10,relation/1249583,Москва,NaN,000000,empty,school,school,0,0,Школа №1981,multipolygon,empty,0,37.529732,55.549146,"POLYGON ((37.52927 55.54896, 37.52937 55.54899...",1307.000000
11,relation/1249599,Москва,NaN,000000,empty,school,school,0,0,Центр педагогического мастерства,multipolygon,empty,0,37.621611,55.789857,"POLYGON ((37.62032 55.78883, 37.62205 55.78888...",1307.000000
12,relation/1262955,Москва,NaN,000000,empty,school,school,0,0,Школа № 1503,multipolygon,empty,0,37.662771,55.818122,"POLYGON ((37.66371 55.81821, 37.66236 55.81868...",1307.000000
13,relation/1270058,Москва,NaN,000000,empty,school,school,0,0,Школа №1095,multipolygon,empty,0,37.670849,55.872199,"POLYGON ((37.67105 55.87187, 37.67112 55.87201...",1307.000000
14,relation/1270060,Москва,NaN,000000,empty,school,school,0,0,Школа №757,multipolygon,empty,0,37.669627,55.870899,"POLYGON ((37.67034 55.87168, 37.66973 55.87129...",1307.000000
15,relation/1270065,Москва,2,000000,Янтарный проезд,school,school,0,0,Школа №1381,multipolygon,empty,0,37.691256,55.873048,"POLYGON ((37.69127 55.87383, 37.69119 55.87377...",1307.000000
16,relation/1280705,Москва,11 к3,000000,улица Амундсена,school,school,0,0,"Школа Свиблово, корпус 5",multipolygon,empty,0,37.654428,55.852091,"POLYGON ((37.65477 55.85265, 37.65301 55.85219...",1307.000000
17,relation/1284257,Москва,NaN,000000,empty,school,school,0,0,Школа №100,multipolygon,empty,0,37.485739,55.774409,"POLYGON ((37.48632 55.77492, 37.48631 55.77499...",1307.000000
18,relation/1284275,Москва,NaN,000000,empty,school,school,0,0,Школа 1605,multipolygon,empty,0,37.482149,55.778847,"POLYGON ((37.48292 55.77878, 37.48276 55.77945...",1307.000000
19,relation/1285664,Москва,NaN,000000,empty,school,school,0,0,Гимназия №1522,multipolygon,empty,0,37.482205,55.772857,"POLYGON ((37.48199 55.77255, 37.48203 55.77255...",1307.000000

In [163]:
#Запись в файл
df_school.to_file('schools_transform.geojson', driver="GeoJSON")